body {
    font-family: arial;
    line-height: 1.5;
    font-size: 15px;
}
/* resets */
p, ul {
    margin: 0;
}
/* resets */
.fixed-width {
    width: 950px;
    margin: 0 auto;
}
.header-section {
    margin: 25px 0 40px;
}
.icon {
    width: 20px;
    vertical-align: middle;
    padding-right: 8px;
}
.profile-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
.profile-img {
    border-radius: 50%;
    width: 130px;
}
.profile-right {
    float: right;
    line-height: 1.8;
    text-align: right;
}
.profile-right:after {
    content: " ";
    display:block;
    clear: both;
}
.section {
    margin: 30px 0;
}
.row {
    text-align: justify;
}
.left-panel, .right-panel {
    display: inline-block;
    vertical-align: text-top;
}
.left-panel {
    width: 30%;
    text-align: right;
}
.right-panel {
    width: 60%;
}
.border-line {
    border-width: 3px;
    border-color: #007378;
    border-style: solid;
    margin: 3px 0 20px 0;
}
.small-line {
    border-width: 1px;
    border-color: #007378;
    margin: 20px 0;
    border-style: solid;
}
.push-align {
    margin-top: 15px;
}
.pull-up {
    margin-top: -5px;
}
.large-font {
    font-size: 16px;
}
.title {
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 20px;
}
.sub-title {
    color: #007378;
}
.left-sub-section {
    width: 75%;
    display: inline-block;
}
.right-sub-section {
    display: inline-block;
    width: 20%;
}
.align-middle {
    vertical-align: middle;
}
.personal-data {
    line-height: 1.8;
}
.footer-section {
    margin: 50px 0;
}
.footer-section .declaration {
    margin: 30px 0;
    text-align: justify;
}
.footer-section .footer-info {
    text-align: right;
}